body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Navbar */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: lightgray;
} /* "I am stupid" - Charles Leclerc */

.nav-bar:hover {


}

/* Body */