body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* I don't like people playing with my images or texts! >:( */
* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* Underline. */
.un {
    color: white;
    padding-bottom:2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition:
            background-size 0.3s,
            background-position 0s 0.3s;
    text-decoration: none;
}
.un:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
    text-decoration: none;
}

/* Hidden and Show */
.hidden {
    opacity: 0;
}
.show {
    opacity: 1;
}

/* Trail */
#trail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.trail-element {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: darkseagreen;
    border-radius: 50%;
    opacity: 0.8;
    transform: scale(1.8);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    pointer-events: none;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    background-color: lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    transition: top 0.3s, height 230ms ease;
    z-index: 99;
} /* "I am stupid" - Charles Leclerc */
.navbar:hover {
    height: 7rem;
    transition: height 230ms ease;
}

/* Body */