body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
/* I don't like people playing with my images or texts! >:( */
* {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

/* Underline. */
.un {
    color: white;
    padding-bottom:2px;
    background-image: linear-gradient(rgb(255, 255, 255) 0 0);
    background-position: 0 100%;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition:
            background-size 0.3s,
            background-position 0s 0.3s;
    text-decoration: none;
}
.un:hover {
    background-position: 100% 100%;
    background-size: 100% 2px;
    text-decoration: none;
}

/* Hidden and Show */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50vw);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

/* Trail */
#trail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
}
.trail-element {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: lightskyblue;
    border-radius: 50%;
    opacity: 0.8;
    transform: scale(1.8);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    pointer-events: none;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    transition: top 0.3s, height 230ms ease;
    z-index: 99;
} /* "I am stupid" - Charles Leclerc */
.navbar:hover {
    height: 5rem;
    transition: height 230ms ease;
}
.navbar > span {
    display: block;
    padding: 0.5rem;
    border: #293241 solid 5px;
    border-radius: 15px;
    font-size: 1em;
    transition: background-color 230ms ease, font-size 230ms ease;
    box-shadow: 3px 3px rgba(0, 0, 155, 0.3);
}
.navbar > span > a {
    text-shadow: 2px 2px rgba(0, 0, 155, 0.3);
}
.navbar > span:hover {
    font-size: 1.3em;
    background-color: #293241;
    transition: background-color 230ms ease, font-size 230ms ease;
}

.here {
    background-color: rgba(30, 50, 180, 0.2);
}
.off {
    background-color: rgba(41, 50, 65, 0.2);
}

/* Banner */
.banner {
    width: 100vw;
    filter: blur(2px)
}

/* Body */